@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

.progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10px;
  background: #22cc88;
  transform-origin: 0%;
  z-index: 1;
}
